<div class="stage1">
  <app-header></app-header>
</div>

<p-splitter
  [panelSizes]="[25, 75]"
  [style]="{ height: '300px' }"
  styleClass="mb-5"
>
  <ng-template pTemplate>
    <div class="col flex align-items-center justify-content-center">
      <app-product-list></app-product-list>
    </div>
  </ng-template>
  <ng-template pTemplate>
    <div class="col flex align-items-center justify-content-center">
      <app-shopping-cart></app-shopping-cart>
    </div>
  </ng-template>
</p-splitter>
<div class="stage2">
  <app-footer></app-footer>
</div>
